# Python Exercises (Solutions)

**Note:** <span style="color: gray;">Exercises in gray are those that appear in the [Introduction](Introduction.ipynb). Feel free to skip these if you have already completed them.</span>

## Getting Started

<a id='EnteringCode'></a>
### Entering Code

**1.** <span style="color: gray;">What is 126544 squared? (Exponentiation is denoted `**`, i.e. $ 2^3 $ is `2**3` in Python).</span>

In [3]:
126544**2

16013383936

**2.** <span style="color: gray;">What is 5 divided by 0?</span>

In [4]:
5/0

ZeroDivisionError: division by zero

**3.** Mathematical operations in Python follow the standard order of operations. Parentheses in the wrong place can cause hard-to-find errors in your code. What is the difference between `6+5*10` and `(6+5)*10`?

In [13]:
#Here we use "print" statements so that both answers will be displayed.
print(6+5*10)
print((6+5)*10)

56
110

**4.** Write some code to calculate the number of minutes in a year with a comment that describes what your code does.

In [14]:
#My code multiplies the days in a year by the hours in a day by the minutes in an hour.

365*24*60

525600

 **5.** What is the area of a square with a side length of 7? What is the volume of a cube with the same edge length?

In [15]:
#square
7**2

49

In [16]:
#cube
7**3

343

## Data Types and Variables

<a id='StringsAndNumbers'></a>
### Strings and Numbers

**1.** <span style="color: gray;">Define two variables, j and k, with values 37 and 52 respectively.</span>

In [20]:
j=37
k=52

+  <span style="color: gray;">What is the sum of `j` and `k`? The product?  Write code for each of these in the **editor window**, and run with the keyboard shortcut (refer back to Section 1. Entering Code).</span>
![VarExercise2.png](Images/VarExercise2.png)

 + Now re-assign `j` and `k` to have the vales 8 and 3 respectively.  Re-use your code from the editor to determine their sum and product.
![VarExercise3.png](Images/VarExercise3.png)

**2.** Now let us calculate the number of minutes in a year again, this time using variables for each unit of time. Instead of a comment, print a statement that describes what your code does.
![VarExercise4.png](Images/VarExercise4.png)

* Leap Year:

In [1]:
DaysInNormalYear=365
DaysInLeapYear=366
HoursInDay=24
MinutesInHour=60

MinutesInNormalYear = DaysInNormalYear*HoursInDay*MinutesInHour
MinutesInLeapYear = DaysInLeapYear*HoursInDay*MinutesInHour

print(MinutesInNormalYear)
print(MinutesInLeapYear)

525600
527040

**3.** Define the following variables: `num=23`, `textnum="57"`, and `decimal=98.3`. Print the types of each variable. What is the sum of your variables? (*Hint:* use a type conversion function.) What datatype is the sum?
![VarExercise5.png](Images/VarExercise5.png)

**4.** You can use the print function to print multiple variables of different types on a single line. This can be done by using comma to separate variables within the parentheses of the print function. For example: `print(variable1, variable2).` You can also print raw values that have not been assigned variables. For example, `print("This is variable 1: ", 67)`. 
  * For this exercise, define 5-10 numbers as variables.

In [8]:
num1 = 58
num2 = 45
num3 = 95857
num4 = 1
num5 = 99
num6 = 68
num7 = 2

  * Use a single `print` statement to print all of the even numbers out of your newly defined variables with the following statement, "These are my even numbers:".

In [9]:
print("These are my even numbers:", num1, num6, num7)

These are my even numbers: 58 68 2

  * Can you think of a way to write your output as a single complete sentence? (Hint: you'll probably need to use at least one type conversion function)

In [10]:
print("The even numbers out my newly defined variables are " + str(num1) + ", " + str(num6) + ", and " + str(num7) + ".")

The even numbers out my newly defined variables are 58, 68, and 2.

<a id='Lists'></a>
### Lists

**1.** <span style="color: gray;">Create a list of:</span>
   * <span style="color: gray;">your favorite color (str)</span>
   * <span style="color: gray;">your two favorite holidays (list)</span>
    
    <span style="color: gray;">For example:</span>
    `["red",["Halloween","New Years"]]`

In [1]:
MyList = ["red",["Halloween", "New Years"]]

**2.** <span style="color: gray;">Then append the number of pets you have (int) as a new list item. Print your new list.</span>

In [5]:
MyList.append(3)
print(MyList)

['red', ['Halloween', 'New Years'], 3]

**3.** Create a list that includes the number of days in a normal year as well as the number of days in a leap year. Now create a separate list that includes the number of hours in a day as well as the number of minutes in an hour. Append your first list to your second list. Your final list should look something like this:
   * Number of hours in a day (int)
   * Number of minutes in an hour (int)
   * List that includes the number of days in a normal year as well as the number of days in a leap year (list)

In [7]:
list1=[365, 366]
list2=[24, 60]
list2.append(list1)

print(list2)

[24, 60, [365, 366]]

<a id='Indexing'></a>
### Indexing

**1.** <span style="color: gray;">Try to use indexing to get the tenth digit of `my_pi` as defined below.  Does it work as defined?  Do we need to change the variable somehow?</span>
```
my_pi=3.141592653589793
```

In [2]:
my_pi=3.141592653589793
print(my_pi[10])

TypeError: 'float' object is not subscriptable

* <span style="color: gray;">This error means that you cannot access digits in a float in the same way that you can access characters in a string or indices in a list. You can access individual digits by converting the variable to a string before 'slicing' it into individual elements.</span>

In [3]:
my_pi=3.141592653589793
my_pi=str(my_pi)
print(my_pi[10])
#Note that we access the 10th digit using the number 10, rather than 9. This is because the decimal 
#occupies the location at my_pi[1].

3

**2.** <span style="color: gray;">Below is a list of lists containing the NATO phonetic codes for each letter of the alphabet.  Each list within `nato` contains a letter of the alphabet and its corresponding code.</span>
```
nato = [["A", "Alfa"],
          ["B", "Bravo"],
          ["C", "Charlie"],
          ["D", "Delta"],
          ["E", "Echo"],
          ["F", "Foxtrot"],
          ["G", "Golf"],
          ["H", "Hotel"],
          ["I", "India"],
          ["J", "Juliett"],
          ["K", "Kilo"],
          ["L", "Lima"],
          ["M", "Mike"],
          ["N", "November"],
          ["O", "Oscar"],
          ["P", "Papa"],
          ["Q", "Quebec"],
          ["R", "Romeo"],
          ["S", "Sierra"],
          ["T", "Tango"],
          ["U", "Uniform"],
          ["V", "Victor"],
          ["W", "Whiskey"],
          ["X", "X-ray"],
          ["Y", "Yankee"],
          ["Z", "Zulu"]]
```

   * <span style="color: gray;">What is the fifteenth letter of the alphabet?</span>
   * <span style="color: gray;">What is the code for the twenty-third letter of the alphabet?</span>
   * <span style="color: gray;">What is the fourth letter of the code for the eighth letter of the alphabet?</span>

In [4]:
nato = [["A", "Alfa"],
          ["B", "Bravo"],
          ["C", "Charlie"],
          ["D", "Delta"],
          ["E", "Echo"],
          ["F", "Foxtrot"],
          ["G", "Golf"],
          ["H", "Hotel"],
          ["I", "India"],
          ["J", "Juliett"],
          ["K", "Kilo"],
          ["L", "Lima"],
          ["M", "Mike"],
          ["N", "November"],
          ["O", "Oscar"],
          ["P", "Papa"],
          ["Q", "Quebec"],
          ["R", "Romeo"],
          ["S", "Sierra"],
          ["T", "Tango"],
          ["U", "Uniform"],
          ["V", "Victor"],
          ["W", "Whiskey"],
          ["X", "X-ray"],
          ["Y", "Yankee"],
          ["Z", "Zulu"]]

# 3. - 15th letter is: ["O", "Oscar"]
print(nato[14][0])

# 4. - 23rd letter is: ["W", Whiskey]
print(nato[22][1])

# 5. - 8th letter is: ["H", "Hotel"]
print(nato[7][1][3])

O
Whiskey
e

**3.** Let's perform some more minutes-in-year calculations (I bet you thought you were done with this by now!). Using the lists you created above, calculate and print the number of minutes in a normal year. Now calculate and print the number of minutes in a leap year. Print your results.

**4.** Consider the following list of sentences:
```
Sentences = [
  "I went to The Ohio State University",
  "Add just a bit more.",
  "Cars drive quickly.",
  "He heard yells outside.",
  "What is your name?",
  "Bob was very exasperated.",
  "Give me the keys.",
  "Boy oh boy am I glad to see you!",
  "Students in the hallway whispered loudly.",
  "You're learning Python!",
  "What is the capital of Florida?"
]
```
   * Can you create the following sentence using only elements from this list? `sentence = "The boy yells loudly."` In other words, create and print this sentence without typing any new bits of text.
      * Hint: The `.split()` function can be used to split a string into a list of words. For example: `str = "I want pizza."` Using the following code, you can split the sentence `str` into a list of words separated by spaces: `list = str.split(" ")`. This command uses whitespaces `(" ")` to separate words into a list, leading to the following output: `["I", "want", "pizza."]`. You can now use list indexing to easily access words within a sentence. For example, `list[2]` would output the word `"pizza."`
      * Hint Hint: Use the `.join()` function to join elements of a list into a string. Let's use our earlier example, where `list=["I", "want", "pizza."]`. Here, the command `" ".join(list)` glues all of the elements in `list` together with whitespaces (`" "`) between them. As a result, using the command `str = " ".join(list)` will bring us back to where we started! `str = "I want pizza."`
![IndexingExercise3_1.png](Images/IndexingExercise3_1.png)

   * Can you create a "MyName" variable that stores your name using only elements from the `sentences` list above? In other words, create and print your name without typing any new bits of text.
   ![IndexingExercise3_2.png](Images/IndexingExercise3_2.png)

## Flow Control

<a id='ConditionsBooleans'></a>
### Conditions and Booleans / Conditional Statements

**1.** <span style="color: gray;">Using indexing, write a conditional that print a word only if it ends with the letter 'e'.</span>
```
#Template:
testword=<your choice of word>
if <condition using testword>:
        print(testword)
```

In [11]:
testword = "base"
if testword[-1]=="e":
    print(testword)

base

**2.** The `input` function can be used to ask the user for information. In the example below, we ask the user to type something and print their response. The `input` function prompts the user, while the `str` function converts their response to a string so that it won't confuse the computer. This information is stored using the variable `user_response` after the user types their response and presses the "Enter" key.
```
user_response = str(input("Please type something: "))
```
* Using the above technique, prompt the user to type a word and save that word as a variable. Write a conditional statement (`if`, `elif`, `else`) that checks their entry for the conditions below. Print different messagess that describe the word if it satisfies any of the individual conditions.
     * Did the user enter any text at all?
     * Does their word contain the letter "i" or the letter "b"?
     * Is the word longer than 5 characters?
     * Did they simply type "word"?
     * Did their word not satsify any of the above conditions?
* For example:
```
testword = str(input("Please type a word: "))
if testword <condition concerning testword>
        print(<message describing why that word satisfied the condition>)
elif testword <condition concerning testword>
        print(<message describing why that word satisfied the condition>)
#etc...
```
![ConditionalsExercise2.png](Images/ConditionalsExercise2.png)